* {
  width: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
  background-color: #161A1C;
  font-family: Bahnschrift, serif, serif;
}

.array-container {
  align-items: flex-end;
  display: flex;
  margin-top: auto;
}

.array-bar{
  padding-right: 1px;
  padding-left: 1px;
  background-color: #444444;
}

.array-bar p{
  background-color: #444444;
  text-align: center;
  overflow: hidden;
  font-size: 0.7vw;
}

.navbar{
  max-height: 10vh;
  box-sizing: border-box;
  padding: 0 1rem;
}

.sorting{
  filter: grayscale(0.20);
}

.selected{
  font-size: 5vh;
  max-height: 6vh;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.65;
  z-index: 1;
}

.creator{
  font-size: 3vh;
  max-height: 4vh;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.3;
  z-index: 1;

}

.navbar-nav{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item{
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button{
  --button-size: calc(var(--nav-size) * 1.9);
  width: 100px;
  height: 50px;
  border-radius: 5%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon.button svg{
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.scroll {
  width:auto;
  height: auto;
  background: red;
}

.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll::-webkit-scrollbar-thumb {
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(185, 185, 185, 0.5);
}

.dropdown{
  position: absolute;
  top: 80px;
  width: 300px;
  height: auto;
  max-height: 300px;
  margin-left: 200px;
  background-color: #343434;
  border: var(--border);
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

.menu-item{
  height: 50px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  overflow: hidden;
  background-color: #595959;
}

.menu-item:hover{
  background-color: gray;
}

.icon-right{
  margin-left: auto;
}

.icon-button:hover{
  filter: brightness(1.2);
}

.visualizer-container {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}
